.snack-success {
  background-color: #4caf50 !important;
  color: #fff;
}

.snack-warning {
  background-color: #ff9800 !important;
  color: #fff;
}

.snack-error {
  background-color: #f44336 !important;
  color: #fff;
}
