<h2>Bienvenido a la Página de Inicio</h2>
<button  (click)="logout()">Cerrar sesión</button>

<!-- Overlays -->
<div class="overlay-container">
  <div class="overlay">Overlay 1</div>
  <div class="overlay">Overlay 2</div>
  <div class="overlay">Overlay 3</div>
  <div class="overlay">Overlay 4</div>
</div>

<!-- Acordeón -->
<div class="accordion">
  <div class="accordion-item">
    <button (click)="toggleAccordion()" class="accordion-header">
      Sección Acordeón
    </button>
    <div class="accordion-body" *ngIf="accordionOpen">
      <p>Contenido del acordeón visible al hacer clic.</p>
    </div>
  </div>

</div>
